body {
	background-image: url(http://i1289.photobucket.com/albums/b512/ktstowell/weave_bg_zpse0425bce.png);
}

.clearfix {
	width:100%;
	clear: both;
	float:none;
	min-height: 1px;
}

h1, h2, h3, h4, h5, h6 {
	padding-bottom: 0;
	margin-bottom:0.1em;
}

ul {
	list-style-type: none;
	li {
		list-style-type: none;
		display: block;
	}
}

hr {
	border: 1px solid #ccc;
	box-shadow: 0 1px 15px 1px #000;
	margin-top: 0;
	padding-top:0;
}

form hr {
	margin-top:10px;
	box-shadow: none;
}

.scenarios form span {
	line-height: 38px;
	padding: 0 5px;
}

input[type="submit"] {
	margin: 0.5em 0;
}
