#header {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	background-image: url(http://i1289.photobucket.com/albums/b512/ktstowell/weave_bg_zpse0425bce.png);
	z-index: 1001;
}

#container {
	margin: 0 auto;
	text-align: center;
	z-index: 1;
}

#main {
	text-align: left;
	overflow: auto;
	padding-left: 1.4em;
	position: relative;
	top:108px;
	left:194px;
}

#menu {
	position: fixed;
	top:108px;
	text-align: left;
	padding-left:0;
	margin-left:0;
	margin-top: 1em;
	margin-bottom:2em;
	height:500px;
	overflow: auto;
	a, a:visited {
		color: #000;
	}
	a:hover {
		color: #2ba6cb;
	}
	ul {
		margin-left: 10px;
		li {
			font-size: .8em;
		}
	}
}

#concepts {
	section>ul>li:nth-child(odd) {
		text-decoration: underline;
	}
}

pre {
	code {
		position: relative;
		top:-16px;
		font-size: .6em;
		text-align: left;
	}
}

li {
	pre {
		display: inline-block;
    position: relative;
    top: 14px;
		code {
      padding: .1em .2em;
		}
	}
}

.panel h6 {
	display: inline-block;
}

a.anchor {
	position: relative;
	display: block;
	visibility: hidden;
	top: -138px;
}