

#container {
	margin: 0 auto;
	text-align: center;
}

#main {
	text-align: left;
}

#concepts {
	section>ul>li:nth-child(odd) {
		text-decoration: underline;
	}
}

pre {
	code {
		position: relative;
		top:-16px;
		font-size: .6em;
		text-align: left;
	}
}

li {
	pre {
		display: inline-block;
    position: relative;
    top: 14px;
		code {
      padding: .1em .2em;
		}
	}
}