<section id="main" class="large-12 columns">
  <section>
    <section>
      <p>
        Angular Validation provides an effective, performant, highly customizable yet with reliable defaults, validation tool for
        your Angular web-app.
      </p>
      <section id="concepts">
        <header>
          <h6>Concepts:</h6>
        </header>
        <section>
          <p>
            This module approaches validation via three rule types:
          </p>
          <ul>
            <li> Element:</li>
            <li>  
              <ul>
                <li>
                  Each element is passed to an element specific validator to ensure it will meet its criteria.
                </li>
              </ul>
            </li>
            <li>Group:</li>
            <li>
              <ul>
                <li>
                  Elements can belong to groups. Though while in a group elements will stull be subject to their element validators,
                  only once the group passes its validation criteria will it count towards the final form pass/fail.
                </li>
              </ul>
            </li>
            <li>Instance:</li>
            <li>
              <ul>
                <li>
                  The instance rule is the term attached to the concept of "Can the user submit the form or not". The instance rule requires
                  all validation criteria, both group and element, to be met.
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </section>
    </section>
  </section>
  <section>
    <header>
      <h3>Installation</h2>
      <hr />
    </header>
    <section>
      <h6>Method One:</h6>
      <p>Clone this repo and copy/paste the files in /build to the directory of your choice in your app. Then reference them in your index.html</p>
      <h6>Method Two:</h6>
      <p><pre><code class="javascript">bower install ngValidation --save</code></pre></p>
      <p>Of course you still need to reference the files in your index.html</p>
    </section>
  </section>
  <section id="instructions">
    <header>
      <h3>How to Use:</h3>
      <hr />
    </header>
    <section>
      <h6>Default Implementation:</h6>
      <ol>
        <li>Inject the validation module into your App's module declaration: <pre><code>angular.module('MyApp', ['ng-validation'])</code></pre></li>
        <li>Inject the validation module's service into a controller that will be using it: <pre><code>angular.module('MyApp', []).controller('MainCtrl', function($scope, ngValidation) {})</code></pre></li>
        <li>Inside the controller, include: <pre><code>ngValidation.init();</code></pre></li>
        <li>From here, if you wish a form to be validated, add the attribute <pre><code>ng-validation</code></pre> to the root of the form/section containing the form fields.</li>
      </ol>
      <h6>Custom Processing</h6>
      <p>If you need more than the defaults, such as adding a scenario, follow these steps:</p>
      <ol>
        <li>To the same form/section you added <pre><code>ng-validation</code></pre> to, add an attribute name: <pre><code>ng-validation="myForm"</code></pre>. Please use only alpha-numeric characters.</li>
        <li>Once you've added the name, open up the controller where you called <pre><code>ngValidation.init()</code></pre> and add your rules as follows: <pre><code>ngValidation.add_rule('myForm', {options}).init();</code></pre> make sure the name of the rule is the same name you gave your form in the markup. And of course, dont forget to call <pre><code>.init();</code></pre>When you're done adding all the rules you'll need.</li>
        <li>You can now give your form custom options:</li>
      </ol>
      <h6>Available options:</h6>
      <ul>
        <li>
          <ul class="panel">
            <li>Name: rule</li>
            <li>Type: function</li>
            <li>
            Arguments (order matters):
              <ul>
                <li>Sel: DOM object of the root of the form</li>
                <li>el: DOM object of the current event target</li>
                <li>e: current event object</li>
              </ul>
            </li>
            <li>Scope (this): The root validation class</li>
            <li>Description: If you want to completely ignore the default rule for determining whether or not a form is valid, add your own function here.</li>
            <li>Example:</li>
            <hr />
            <li>
<pre>
<code>
myForm: {
  rule: function(sel, el, e) {
    // custom processing here
  }
}
</code>
</pre>
            </li>
          </ul>
          <ul class="panel">
            <li>Name: exempt</li>
            <li>Type: array</li>
            <li>Description: An array containing an indefinite number of indexes of strings that correlate to elements you wish to avoid validation processing. It uses a jQuery like selector syntax, just without the $().</li>
            <li>Example:</li>
            <hr />
            <li>
<pre>
<code>
myForm: {
  // This will ignore all elements with the class of ignore
  exempt: ['.ignore']
}
</code>
</pre>
            </li>
          </ul>
         <!--  <ul class="panel">
            <li>Name: submit</li>
            <li>Type: string</li>
            <li>Description: Specify a custom submit clicky.</li>
            <li>Example:</li>
            <hr />
            <li>
<pre>
<code>
myForm: {
  // This will allow an element with the ID of 'mySpecialSubmit' to act as a submit button.
  submit: ['#mySpecialSubmit']
}
</code>
</pre>
            </li>
          </ul> -->
          <ul class="panel">
            <li>Name: scenarios</li>
            <li>Type: array of objects</li>
            <li>Description: An array containing the desired validation scenarios to use.</li>
            <li>Example:</li>
            <hr />
            <li>
<pre>
<code>
myForm: {
  // This will load the scenarios you wish to use (example is using the password scenario)
  scenarios: [{name: 'password', options: {ui: '.meter', acceptance: 'strong'}}]
}
</code>
</pre>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <section>
      <header>
        <h3>Demos:</h3>
        <hr />
      </header>
      <form ng-validation="form_1" class="large-6 columns">
        <header>
          <h4>Form Example 1 - Default</h4>
        </header>
        <input type="text" placeholder="Standard Text Input">
        <input type="password" placeholder="Password Input">
        <input type="submit">
      </form>
      <section id="form-1-sample" class="code-sample large-6 columns">
        <header>
          <h4>Options:</h4>
        </header>
          <pre>
            <code class="javascript">
// Nothing special, only defaults.
            </code>
          </pre>
        </section>
        <clearfix></clearfix>
      </section>
      <section>
        <form ng-validation="form_2" class="large-6 columns">
          <header>
            <h4>Form Example 2 - Defaults: email, phone, textarea</h4>
          </header>
          <input type="email" placeholder="email">
          <input type="tel" placeholder="telephone">
          <textarea rows="4" cols="14"></textarea>
          <input type="submit">
        </form>
        <section id="form-2-sample" class="code-sample large-6 columns">
          <header>
            <h4>Options:</h4>
          </header>
            <pre>
            <code class="javascript">
// Nothing special, only defaults.
            </code>
            </pre>
        </section>
        <clearfix></clearfix>
      </section>
      <section>
        <form ng-validation="form_3" class="large-6 columns">
          <header>
            <h4>Form Example 3 - Custom Exempts</h4>
          </header>
          <input type="text" placeholder="required">
          <input type="text" id="exempt" placeholder="exempt">
          <input type="text" class="exempt" placeholder="exempt">
          <input type="text" class="exempt" placeholder="exempt">
          <textarea rows="4" cols="14" placeholder="required"></textarea>
          <input type="submit">
        </form>
        <section id="form-3-sample" class="code-sample large-6 columns">
          <header>
            <h4>Options:</h4>
          </header>
            <pre>
            <code class="javascript">
// In the ngValidation injected controller:
ngValidation.add_rule('form_3', {
  // example using class name and id's
  exempt: ['.exempt', '#exempt']
}).init();
            </code>
            </pre>
        </section>
        <clearfix></clearfix>
      </section>
      <section>
        <form ng-validation="form_4" class="large-6 columns">
          <header>
            <h4>Form Example 4 - Varied Element Types</h4>
          </header>
          <section id="checkboxes">
            <h6>Group 1</h6>
            <hr />
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <span>At least one checkbox must be checked</span>
            <input type="text" placeholder="In group 1 but not required">
          </section>
          <h6>Group 2</h6>
          <hr />
          <input type="radio" name="group1" value="radio1">
          <input type="radio" name="group1" value="radio2">
          <span>A radio button must be toggled</span>
          <h6>Standalone Elements</h6>
          <hr />
          <input type="text" placeholder="required">
          <input type="submit">
        </form>
        <section id="form-4-sample" class="code-sample large-6 columns">
          <header>
            <h4>Options:</h4>
          </header>
            <pre>
            <code class="javascript">
// In the ngValidation injected controller:
ngValidation.add_rule('form_4', {
  groups: [
    {name: 'radios', container: false, required: 'input[name="group1"]', number_required: 1},
    {name: 'checkboxes', container: '#checkboxes', required: 'input[type="checkbox"]', number_required: 1}
  ]
}).init();
            </code>
            </pre>
        </section>
        <clearfix></clearfix>
      </section>
      <section class="scenarios">
        <form ng-validation="form_5" class="large-6 columns">
          <header>
            <h4>Form Example 5 - Scenarios:Password Strength</h4>
          </header>
          <p>Must be 15 characters long with any two of the following criteria:</p>
          <ul>
            <li>At least 3 uppercase Characters</li>
            <li>At least 3 numbers</li>
            <li>At least 3 special characters</li>
          </ul>
          <input type="password" placeholder="Password Strength">
          <input type="submit"><span id="pw1"></span>
          <hr />
          </form>
        <section id="form-5-sample" class="code-sample large-6 columns">
          <header>
            <h4>Options:</h4>
          </header>
            <pre>
            <code class="javascript">
// In the ngValidation injected controller:
ngValidation.add_rule('form_5', {
  scenarios: [{name: 'password', options: {ui: '#pw1'}}]
}).init();
            </code>
            </pre>
        </section>
        <clearfix></clearfix>
        <form ng-validation="form_6" class="large-6 columns">
          <p>Must be 8 characters long with any two of the following criteria:</p>
          <ul>
            <li>At least 1 uppercase Characters</li>
            <li>At least 1 numbers</li>
            <li>At least 1 special characters</li>
          </ul>
          <input type="password" placeholder="Password Strength">
          <input type="submit"><span id="pw2"></span>
        </form>
        <section id="form-6-sample" class="code-sample large-6 columns">
          <header>
            <h4>Options:</h4>
          </header>
            <pre>
            <code class="javascript">
// In the ngValidation injected controller:
ngValidation.add_rule('form_5', {
  scenarios: [{name: 'password', options: {ui: '#pw2', acceptance: 'medium'}}]
}).init();
            </code>
            </pre>
        </section>
        <clearfix></clearfix>
      </section>
      <section>
        <form ng-validation="form_7" class="large-6 columns">
          <header>
            <h4>Form Example 6 - Scenarios: Comparison</h4>
          </header>
          <input type="email" placeholder="email" id="master">
          <input type="email" placeholder="confirm email" class="slave">
          <input type="email" placeholder="confirm email" class="slave">
          <p id="message"></p>
          <input type="submit">
          <hr />
          </form>
        <section id="form-7-sample" class="code-sample large-6 columns">
          <header>
            <h4>Options:</h4>
          </header>
            <pre>
            <code class="javascript">
// In the ngValidation injected controller:
ngValidation.add_rule('form_5', {
  scenarios: [{name: 'comparator', options: {elements: ['input[type="email"]']}}]
}).init();
            </code>
            </pre>
        </section>
        <clearfix></clearfix>
      </section>
    </section>
  </section>